@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

/* In your global CSS file (e.g., index.css) */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* for IE and Edge */
  scrollbar-width: none;  /* for Firefox */
}

/* Slider */
.slick-prev, .slick-next {
  color: #fff;
  font-size: 24px;
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  opacity: 0.75;
}
.slick-prev:hover, .slick-next:hover {
  color: #fff;
  opacity: 1;
}

/* Faculty, College Campus, Department cards */
.grid > div {
  transition: transform 0.3s ease-in-out;
}
.grid > div:hover {
  transform: translateY(-5px);
}


/* AboutUs.css */

.about-us-section {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.about-us-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-us-heading {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.about-us-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}